.small-12.columns.small-centered{:style=>'text-align:center'}
  = link_to 'login', nil, :class=>'button tiny secondary'
  = link_to 'register', new_user_path, :class=>'button tiny secondary', :remote=>true
