%script(type='text/template' id='main-template')
  %h1 This is The Main Template


%script(type='text/template' id="tour-menu-template")
  .tour-menu-container


%script(type='text/template' id='map-template')
  .map-container