%script(type='text/template' id='main-template')
  .tour-menu-container
  .map-container

%script(type='text/template' id="tour-menu-template")
  %ul.tour-menu


%script(type='text/template' id='map-template')
  .map
