%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a(href="#")
          Tourmii
  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        %input.search-field(type='text' placeholder='Search for places near you')
    %ul.right
      %li.divider
      %li.toggle-topbar.menu-icon
        %a(href="#")
          %span Menu
