// Initiate mainView once user logs in
/ = render :partial => 'home/load'
/ %h1= @auth.first_name

%script
  var user = new User({id:"#{@auth.id}" });
  user.fetch({
  success: function() {
  var mainView = new MainView( {el:$('.container'), user:user} );
  mainView.render().$el;
  }
  });

