/ load dependencies (foursquare verification, etc.)
= render :partial => 'home/load', :locals => {:api_key => @api_key, :api_sec => @api_sec, :auth_url => @auth_url, :api_url => @api_url}

%script
  var user = new User({id:"#{@auth.id}" });
  user.fetch({
  success: function() {
  var mainView = new MainView( {el:$('.container'), user:user} );
  mainView.render().$el;
  }
  });

