/ THIS IS THE TITLE
/
/
.row
  .small-3.columns
  .small-6.small-centered.columns
    %h1.subheader.small-centered{:style=>'text-align:center;'} tourmii
  .small-3.columns
.row
  #menu
    - if @auth.present?
      = render :partial=>'menus/usermenu'
    - else
      = render :partial=>'menus/loginmenu'
.row
  #page1
    - if @auth.present?
      = render :partial=>'searches/index'
    - else
      = render :partial=>'home/form'


/ .row
/   .small-12.columns
/     #page2{:'data-role'=>'page'}
