.intro-image-container(style="background:url('#{@photo_url}') no-repeat center center fixed;")
.row
  .large-12.columns
    .intro-message
      Build tours for you and your friends
.row
  .large-6.columns
    = render :partial=>'home/signup'
  .large-6.columns
    = render :partial=> 'home/login'


