%h4.subheader Create A Tour
= form_tag tours_path do
  = text_field_tag 'tourdata_name', nil, :placeholder=>:name
  = text_area_tag  'tourdata_description', nil, :placeholder=>:description
  %h5.subheader Click on Pins to See Places
  #tour_form_container
  = submit_tag "Save Tour", :id=>'save_tour_btn'