.row
  = form_tag new_tour_path, :method=>'get', :remote=>true do
    .small-8.columns.small-centered
      .row
        .small-10.columns
          = text_field_tag  "search", nil, :placeholder=>'search for topics to start your tour'
        .small-2.columns
          = button_tag 'Go', :class=>'button tiny secondary', :id=>'createtour_search_btn'
    .small-4.columns
.row
  #results
    .small-6.columns
      #map
      #details
    .small-6.columns
      #create_tour_form
        = render :partial=>'tours/form'
.row
  .small-12.columns
    / #details
    #photo_list
