.12-small.columns
  %h3.subheader my tours
  - if @tours.nil?
    %h4.subheader you have no tours. click 'search' above to find a tour.
  %table
    %tr
      %td name
      %td description
    - @tours.each do |tour|
      %tr
        %td= link_to tour.name, tour, :remote=>true, :class=>'tour_link'
        %td= tour.description