.row
  = form_tag search_query_path, :method=>'get', :remote=>true do
    .small-8.columns.small-centered
      .row
        .small-10.columns
          = text_field_tag  "search", '', :placeholder=>'search'
        .small-2.columns
          = button_to 'Go', search_query_path, :class=>'button tiny secondary', :id=>'search_btn'
    .small-4.columns
.row
  #results
    .small-6.columns
      #map
      #details

    .small-6.columns
      #create_tour_form
        = render :partial=>'tours/form'
.row
  .small-12.columns
    / #details
