.container {
}


body {
  /* a nice gray */
  background: rgb(222,233,252);
}

#tourmap, #map {
  border: 3px solid black;
  box-shadow: 5px 5px 25px lightblue;
  border-radius: 5px;

}

#header {
  background-image: url('world-map.jpg');
  background-size: cover;
  border-bottom: 5px solid navy;
}


#page1 {
  .flash_notice {
    color: red;
    font-style: italic;
    font-weight: bold;
  }
  #create_tour_form {
    display: none;
  }
  #tour_form_container {
    padding: 10px;
    margin: 10px;
  }

}

.photo {
  width: 100%;
  height: 100%;
}



#map {
  /*position: absolute;*/
  width: 100%;
  height: 300px;
  background-color: #ececec;
  display: none;
}

#details {

}

.cancel_btn {
  border-radius: 100%;
  background-color:red;
  color:#fff;
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  right: 0;
}



#photo_list {
  /*display: inline-block;*/
display: none;
float: left;
position: absolute;
top: 0;
left: 0;
/*
  position: absolute;
  top: 0;
  left: 50px;
  width: 200px;
  min-height: 200px;
  background-color: #ccc;

  /*a {
    position: relative;
    width: 15px;
    height: 15px;
    right: 0;
    border-radius: 100%;
    color: white;
    font-family: arial,helvetica,sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: red;
  }*/

  /*.photo {
    border: 3px solid #000;
    margin: 10px;
  }*/

}

table {
  border-radius: 15px;
}



.place {
  font-family: 'roboto';
  .place_name {
    font-family: 'roboto';
    border-bottom: 1px solid #000;
  }
  .place_phone_number {
    margin-bottom: 20px;
  }
  .place_tags {
    margin-bottom: 20px;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    margin: 5px 2px;
  }
  .place_review {
    padding: 10px;
    line-height: 1.3em;
  }

}
.review {
  display: none;
}


.infowindow {
  background-color: orange;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}


#tourmap {
  width: 400px;
  height: 400px;
  background-color: #eee;
}

.tour_link {
}

.orbit-bullets {
  margin: 0 auto 10px 0;
}

.search_box {
  margin-top: 10px;
}

